

@import 'bootstrap/scss/bootstrap';
.main-container {
    position: relative;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/1008155/pexels-photo-1008155.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.login-form {
   background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    max-width: 400px; /* Añade un ancho máximo */
    margin: 0 auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
    background-color: rgba(0, 0, 0, 0.7); /* Opcional: Color de fondo */
    padding: 10px 0;
}
body {
    margin-top: 70px; /* Añadir un margen para que no se oculte el contenido */
}

/* Estilo para el header */
.header-bar {
    background-color: rgba(173, 216, 230, 0.9); /* Aumenta la opacidad para mejor contraste */
    padding: 1rem;
    color: black; /* Asegura que el texto sea legible */
    text-align: center;
}

/* Centrar el mensaje de bienvenida */
.welcome-message {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Tamaño del texto de bienvenida */
.welcome-message h1 {
    font-size: 3rem;
    font-weight: bold;
}